@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.section {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #0650aa;
    font-size: 21px;
}

.title {
    font-size: 42px;
    text-transform: uppercase;
}

.description {
    width: 400px;
    margin: 25px auto;
}

.subtitle {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 32px;
}

.number {
    margin: 0 30px 0 30px;
}

.buttonsWrapper {
    margin: auto;
    width: 350px;
    display: flex;
    justify-content: space-around;
}

.button {
    font-size: 20px;
    width: 65px;
    height: 65px;
    border: 2px solid #ff7800;
    border-radius: 50%;
    background-color: #f3a057;
    cursor: pointer;
    color: #06499c;
}

.button:focus {
    outline: none;
}